* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Texturina", sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 1500px;
}

.container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    min-height: 10vh;
    width: 35rem;
    box-shadow: 0 30px 20px rgb(0, 0, 0, 0.4), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    padding: 0rem 5rem;
    transform-style: preserve-3d;
}

.product {
    min-height: 10vh;
    width: inherit;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4), 0px 0px 50px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background: linear-gradient( to right, #c2e59c, #64b3f4);
    padding: 0rem 5rem;
    transform-style: preserve-3d;
}

.productImage {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productImage img {
    perspective: 100px;
    width: 25rem;
    z-index: 2;
    transition: all 0.75s ease-in-out;
}

.info h1 {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.info p {
    font-size: 1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #585858;
    font-weight: lighter;
}

.sizes {
    display: flex;
    justify-content: space-between;
    transition: all 0.75s ease-out;
    padding: 1em 1em;
}

.sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}