<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3d Card Effect</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./app.css">
</head>

<body>
    <div class="container">
        <div class="card">
            <div class="productContainer">
                <div class="product">
                    <div class="productImage">
                        <img src="./ganesha.png" alt="adidas">
                    </div>
                </div>
            </div>
            <div class="info">
                <h1 class="title">Ganesha Idol</h1>
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                <div class="sizes">
                    <a href="https://www.amazon.in/dp/B085J1RXK3?pf_rd_r=904D820XFG21CFWQERE3&pf_rd_p=5bc69217-751e-4d82-80da-5135caf4a24f?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=storypodca-20&linkId=2P4S6EY6B462X4AR" target="_blank" rel="noopener noreferrer"
                        style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button3.png"></a>
                    <a href="https://www.amazon.in/dp/B085J1RXK3?pf_rd_r=904D820XFG21CFWQERE3&pf_rd_p=5bc69217-751e-4d82-80da-5135caf4a24f?_encoding=UTF8&camp=1789&creative=9325&linkCode=ur2&tag=storypodca-20&linkId=2P4S6EY6B462X4AR" target="_blank" rel="noopener noreferrer"
                        style="border:none;text-decoration:none"><img src="https://www.niftybuttons.com/amazon/amazon-button3.png"></a>
                </div>
            </div>
        </div>
    </div>
    <script src="./app.js"></script>
</body>

</html>